<section id="prowlarrSection" class="content-section">
    <link rel="stylesheet" href="./static/css/instance-editor.css?v=1.0.2">
    <div class="content-boundary-inner">
        {% with section_id='prowlarr' %}{% include 'components/sponsor_banners_partial.html' %}{% endwith %}
        {% from 'components/page_header_partial.html' import page_header %}
{{ page_header(back_href='./#apps', parent_icon='fas fa-th-large', parent_name='Apps', current_name='Prowlarr') }}
        <div id="prowlarrContainer" class="settings-container">
            <!-- Prowlarr content will be loaded here -->
        </div>
    </div>
</section>

<style>
    #prowlarrContainer {
        padding: 8px 0 20px 0;
    }
</style> 