<!-- Core utility scripts -->
<script src="./static/js/utils.js"></script>

<!-- Modular components (load before main app) -->
<script src="./static/js/modules/helpers.js"></script>
<script src="./static/js/modules/notifications.js"></script>
<script src="./static/js/modules/version.js"></script>
<script src="./static/js/modules/stats.js"></script>
<script src="./static/js/modules/navigation.js"></script>
<script src="./static/js/modules/swaparr.js"></script>
<script src="./static/js/modules/prowlarr.js"></script>
<script src="./static/js/modules/logs.js"></script>
<script src="./static/js/modules/stateful.js"></script>
<script src="./static/js/modules/settings.js"></script>
<script src="./static/js/modules/initialization.js"></script>
<script src="./static/js/modules/requestarr.js"></script>
<script src="./static/js/modules/ui-handlers.js"></script>
<script src="./static/js/modules/instances.js"></script>
<script src="./static/js/modules/auth.js"></script>
<script src="./static/js/modules/theme.js"></script>
<script src="./static/js/modules/dom.js"></script>

<!-- UI enhancement scripts -->
<script src="./static/js/low-usage-mode.js"></script>
<script src="./static/js/cycle-countdown.js"></script>
<script src="./static/js/apps-scroll-fix.js"></script>
<script src="./static/js/stats-tooltips.js"></script>
<script src="./static/js/card-hover-effects.js"></script>
<script src="./static/js/circular-progress.js"></script>
<script src="./static/js/background-pattern.js"></script>
